:root {
  --thick-tick-size: 10px;
  --thin-tick-size: 2px;
  --watch-size: 36rem;
  --cover-thin-size: 30rem;
  --cover-thick-size: 33rem;
  --hand-second-color: red;
  --watch-bg-color: white;
}
.watch {
  width: var(--watch-size);
  height: var(--watch-size);
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}
.watch__hand {
  height: 6px;
  background: black;
  position: absolute;
  top: 49.3%;
  left: 50%;
  transform-origin: 0%;
  transition: all 0.1s;
  transition-timing-function: cubic-bezier(0.3,2.9,0.58,0.1);
  border: 1px solid var(--watch-bg-color);
}
.watch__hand--second {
  width: 40%;
  background: var(--hand-second-color);
}
.watch__hand--second:after {
  content: '';
  width: 50px;
  height: 50px;
  left: 91%;
  top: -22px;
  border-radius: 50%;
  background: var(--hand-second-color);
  position: absolute;
}
.watch__hand--minute {
  width: 48%;
}
.watch__hand--hour {
  width: 30%;
}
.watch__hand--hour:after {
  content: '';
  width: 10px;
  height: 10px;
  top: -1px;
  left: -5px;
  border-radius: 50%;
  background: black;
  position: absolute;
}
.watch__tick {
  width: 100%;
  background: black;
  position: absolute;
  transform-origin: 50%;
}
.cover__ticks {
  border-radius: 50%;
  margin: 0 auto;
  position: absolute;
  background: var(--watch-bg-color);
}
.cover__ticks--thin {
  width: var(--cover-thin-size);
  height: var(--cover-thin-size);
  top: calc((var(--watch-size) / 2) - (var(--cover-thin-size) / 2));
  left: calc((var(--watch-size) / 2) - (var(--cover-thin-size) / 2));
  z-index: 0;
}
.cover__ticks--thick {
  width: var(--cover-thick-size);
  height: var(--cover-thick-size);
  top: calc((var(--watch-size) / 2) - (var(--cover-thick-size) / 2));
  left: calc((var(--watch-size) / 2) - (var(--cover-thick-size) / 2));
  z-index: -1;
}
.watch__tick--thin {
  height: var(--thin-tick-size);
  top: calc(50% - (var(--thin-tick-size)/2));
  z-index: -1;
}
.watch__tick--thick {
  height: var(--thick-tick-size);
  top: calc(50% - (var(--thick-tick-size)/2));
  z-index: 0;
}
.watch__tick--0 {
  transform: rotate(90deg);
}
.watch__tick--1 {
  transform: rotate(96deg);
}
.watch__tick--2 {
  transform: rotate(102deg);
}
.watch__tick--3 {
  transform: rotate(108deg);
}
.watch__tick--4 {
  transform: rotate(114deg);
}
.watch__tick--5 {
  transform: rotate(120deg);
}
.watch__tick--6 {
  transform: rotate(126deg);
}
.watch__tick--7 {
  transform: rotate(132deg);
}
.watch__tick--8 {
  transform: rotate(138deg);
}
.watch__tick--9 {
  transform: rotate(144deg);
}
.watch__tick--10 {
  transform: rotate(150deg);
}
.watch__tick--11 {
  transform: rotate(156deg);
}
.watch__tick--12 {
  transform: rotate(162deg);
}
.watch__tick--13 {
  transform: rotate(168deg);
}
.watch__tick--14 {
  transform: rotate(174deg);
}
.watch__tick--15 {
  transform: rotate(180deg);
}
.watch__tick--16 {
  transform: rotate(186deg);
}
.watch__tick--17 {
  transform: rotate(192deg);
}
.watch__tick--18 {
  transform: rotate(198deg);
}
.watch__tick--19 {
  transform: rotate(204deg);
}
.watch__tick--20 {
  transform: rotate(210deg);
}
.watch__tick--21 {
  transform: rotate(216deg);
}
.watch__tick--22 {
  transform: rotate(222deg);
}
.watch__tick--23 {
  transform: rotate(228deg);
}
.watch__tick--24 {
  transform: rotate(234deg);
}
.watch__tick--25 {
  transform: rotate(240deg);
}
.watch__tick--26 {
  transform: rotate(246deg);
}
.watch__tick--27 {
  transform: rotate(252deg);
}
.watch__tick--28 {
  transform: rotate(258deg);
}
.watch__tick--29 {
  transform: rotate(264deg);
}
